version: "3.8"

services:
  gateway:
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        APP_NAME: gateway
    container_name: gateway
    environment:
      PORT: 3000
    ports:
      - "3000:3000"
    networks:
      - ecommerce-network
    restart: unless-stopped

  order-service:
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        APP_NAME: order-service
    container_name: order-service
    environment:
      PORT: 3001
    ports:
      - "3001:3001"
    networks:
      - ecommerce-network
    restart: unless-stopped

  inventory-service:
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        APP_NAME: inventory-service
    container_name: inventory-service
    environment:
      PORT: 3002
    ports:
      - "3002:3002"
    networks:
      - ecommerce-network
    restart: unless-stopped

  payment-service:
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        APP_NAME: payment-service
    container_name: payment-service
    environment:
      PORT: 3003
    ports:
      - "3003:3003"
    networks:
      - ecommerce-network
    restart: unless-stopped

  shipping-service:
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        APP_NAME: shipping-service
    container_name: shipping-service
    environment:
      PORT: 3004
    ports:
      - "3004:3004"
    networks:
      - ecommerce-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3333:80"
    networks:
      - ecommerce-network
    restart: unless-stopped

networks:
  ecommerce-network:
    driver: bridge
